<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
  </head>
  <body>

    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul class=flashes>
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}

    <div style='float: right'>
      {% if 'username' in session %}
        <form action="/logout" method="post" id='logout'>
          Logged in as: {{ session['username'] }}
          <input type="submit" value="Log Out" />
        </form>
      {% else %}
        <a href="login">login</a> | <a href="signup">signup</a>
      {% endif %}
    </div>

    <ul class="navbar">
      <li><a href="/new-post">create entry</a></li>
      <li><a href="/blog?user={{session['username']}}">home blog</a></li>
      <li><a class="active" href="/blog">all blogs</a></li>
      <li><a href="/">all users</a></li>
    </ul>

    {% block content %}
    {% endblock %}

  </body>
</html>
